<html>
    <head>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h2>Please fill the form and submit to send the message</h2>
        <form class="form" method="POST" action="/new">
            <label>
                Author: 
                <input type="text" name="author" placeholder="Author name" required>
            </label>
            <label>
                Message:
                <textarea name ="msg" placeholder="Write your message here"></textarea>
            </label>
            <button type="submit">Submit</button>
            <a href="/">Go back to the message board</a>
        </form>
    </body>
</html>